<div class='container'>
  <div class='row devise'>
    <div class='ten columns offset-by-two'>
      <h4><span class='slashes'>// </span>Edit Post</h4>
    </div>
    <div class='container'>
      <div class='row'>
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>
