<div class='container'>
  <div class='row devise'>
    <div class='ten columns offset-by-two'>
      <h4><span class='slashes'>// </span>New Post</h4>
    </div>
  </div>
  <div class='row'>
    <div class='ten columns offset-by-one'>
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
