button {
  width:130px;
  text-align: center !important;
}

.date {
  font-weight: 100;
  text-transform: lowercase;
  margin-left: 0px !important;
}

.nll-btns {
  margin-top: 20px;
}

.slashes {
color: #33C3F0;
}

h4 {
  text-transform: lowercase !important;
}

textarea {
  white-space: pre-line !important;
}

.index-edit-btns{
  margin-top: 15px;
}

hr {
  border-color: #1AA0DB !important;
  width: 75%;
  opacity: 0.3;
}
